.color-green {
  color: $green-1;
}
.color-dark {
  color: $black-3;
}
.color-gray {
  color: $gray-4;
}
.bg-white {
  background-color: #f9f9f9;
}
.bg-dark {
  background-color: $black-2;
}
.bg-green {
  background-color: $green-1;
}