// color 
$gray-1: #606060;
$gray-2: #7a7a7a;
$gray-3: #8a8a8a;
$gray-4: #aaaaaa;
$green-1: #00a99d;
$red-1: #ff0000;
$black-1: #333333;
$black-2: #383838;
$black-3: #404040;
$black-4: #484848;
$white-1: #ebebeb;
$white-2: #e4e4e4;
$white-3: #e3e3e3;
$white-4: #dedede;

$btn-shown: rgba(0, 0, 0, 0.3);
$opacity-0: rgba(0, 0, 0, 0);
$focus: blue;
